{% extends "includes/base.html" %}
{% block title %} Акты П/П {% endblock %}
{% block header %} Список актов П/П прав на ПО ViPNet {% endblock %}
{% block content %} 
<div class="container">
  {% include "includes/search.html" with view='acts' %}
  {% if page_obj.has_other_pages %}
  {% include "includes/paginator.html" with page=page_obj paginator=paginator%}
  {% endif %}
  <table class="table table-sm text-center table-bordered table-hover">
    <thead class="table-dark align-middle">
      <th class="p-2" > № Акта </th>
      <th class="p-2" scope="row"> Дата </th>
      <th class="p-2" scope="row"> Дистрибьютор </th>
      <th class="p-2" scope="row"> Кол-во </th>
      <th class="p-2" scope="row"> Использовано </th>
      <th class="p-2" scope="row"> Коммент </th>
    </thead>
    <tbody>
    {% for lic in page_obj %}
      <tr>
        <td>
          <a href="{% url 'single_act' lic.id %}"> {{ lic.act }}  </a>
        </td>
        <td>{{ lic.date| date:"d.m.Y" }}</td>
        <td>
          {% if lic.distributor %}
          <a href="{% url 'single_seller' lic.distributor.id %}"> {{ lic.distributor.name }} </a>
          {% endif %}
        </td>
        <td> {{ lic.amount }} шт.</td>
        <td class="{% if lic.used_count > lic.amount %}bg-danger
                  {% elif lic.used_count < lic.amount %}bg-success{% endif %}">
          {{ lic.used_count }} шт.
        </td>
        <td class="col-xl-4"> {{ lic.comment }} </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if page_obj.has_other_pages %}
  {% include "includes/paginator.html" with page=page_obj paginator=paginator%}
  {% endif %}
  </div>
{% endblock %} 