{% extends "includes/base.html" %}
{% block title %}Главная страница {% endblock %}

{% block content %}

<div class="text-start container">
  <ul class="list-group">
    <li class="list-group-item">
      <a type="submit" class="btn-link" onclick="location.href='{% url 'add_org' %}'" name='add_org'>
        Добавить организации</a>
      </li>
      <li class="list-group-item" >
        <a type="submit" class="btn-link" onclick="location.href='{% url 'add_distr' %}'" name='add_distr'>
          Добавить дистрибьюторов</a>
      </li>
      <li class="list-group-item">
        <a type="submit" class="btn-link" onclick="location.href='{% url 'add_lic' %}'" name='add_lic'>
          Добавить лицензии</a>
      </li>
      <li class="list-group-item">
        <a type="submit" class="btn-link" onclick="location.href='{% url 'add_vpn' %}'" name='add_vpn'>
          Добавить СКИ</a>
      </li>
      <li class="list-group-item">
        <a type="submit" class="btn-link" onclick="location.href='{% url 'add_devices' %}'" name='add_devices'>
          Добавить Устройства</a>
      </li>
      <li class="list-group-item">
        <a type="submit" class="btn-link" onclick="location.href='{% url 'del_all_vpn' %}'" name='del_all_vpn'>
          Удалить СКИ</a>
      </li>
      <li class="list-group-item">
       <a type="submit" class="btn-link" onclick="location.href='{% url 'del_all_act' %}'" name='del_all_act'>
          Удалить Акты</a>
      </li>
      <li class="list-group-item">
       <a type="submit" class="btn-link" onclick="location.href='{% url 'change_short_name' %}'" name='change_short_name'>
          Сократить короткое название</a>
      </li>
      <li class="list-group-item">
        <a type="submit" class="btn-link" onclick="location.href='{% url 'change_lics' %}'" name='change_lics'>
          Заменить названия в актах</a>
      </li>
      <li class="list-group-item">
        <a type="submit" class="btn-link" onclick="location.href='{% url 'unmerge_with_filling' %}'" name='unmerge_with_filling'>
           Заполнить пустые ячейки в таблице</a>
      </li>
      <li class="list-group-item">
        <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'move_device' %}'" name='unmerge_with_filling'>
          Выбрать 
        </button>
        Произвести слияние носителей
      </li>
      {% if form %}

      <form method="post" enctype="form-data">
      {% csrf_token %}
        Старый носитель {{ form.old_type }}
        Новый носитель {{ form.new_type }}
      <button type="submit" href="{% url 'move_device' %}" class="move_device">
        Заменить
      </button>
      </form>

      {% endif %}
      <li class="list-group-item">
        <button type="submit" class="btn btn-primary" onclick="location.href='{% url 'move_distributors' %}'" name='unmerge_with_filling'>
          Выбрать 
        </button>
        Произвести слияние Дистрибьюторов
      </li>
      {% if form_move_distr %}

      <form method="post" enctype="form-data">
      {% csrf_token %}
        Удаляемый {{ form_move_distr.old_seller }}
        Преемник {{ form_move_distr.new_seller }}
      <button type="submit" class="btn btn-primary" href="{% url 'move_distributors' %}" class="move_distributors">
        Заменить
      </button>
      </form>

      {% endif %}

</div>

<h4>События</h4>
<p>{{ message }}</p>
{% if logs %}
  <details>
  {% for message in logs%}
    {{message}} </br>
  {% endfor %}
{% endif %}
</details>



{% endblock %} 