{% extends "includes/base.html" %}
{% block title %}Главная страница {% endblock %}

{% block content %}
<div>
  <button type="submit" onclick="location.href='{% url 'add_org' %}'" name='add_org'>
    Добавить 
  </button> 
  Добавить организации
</div>

<div>
  <button type="submit" onclick="location.href='{% url 'add_distr' %}'" name='add_distr'>
    Добавить 
  </button>
  Добавить дистрибьюторов
</div>

<div>
  <button type="submit" onclick="location.href='{% url 'add_lic' %}'" name='add_lic'>
    Добавить 
  </button>
  Добавить лицензии
</div>

<div>
  <button type="submit" onclick="location.href='{% url 'add_vpn' %}'" name='add_vpn'>
    Добавить 
  </button>
  Добавить СКИ
</div>

<div>
  <button type="submit" onclick="location.href='{% url 'add_devices' %}'" name='add_devices'>
    Добавить 
  </button>
  Добавить Устройства
</div>

</br>
<div>
  <button type="submit" onclick="location.href='{% url 'del_all_vpn' %}'" name='del_all_vpn'>
    Удалить 
  </button>
  Удалить СКИ
</div>
<div>
  <button type="submit" onclick="location.href='{% url 'del_all_act' %}'" name='del_all_act'>
    Удалить 
  </button>
  Удалить Акты
</div>
</br>
<div>
  <button type="submit" onclick="location.href='{% url 'change_short_name' %}'" name='change_short_name'>
    Заменить 
  </button>
  Сократить короткое название
</div>
<div>
  <button type="submit" onclick="location.href='{% url 'change_lics' %}'" name='change_lics'>
    Заменить 
  </button>
  Заменить названия в актах
</div>
</br>
<div>
  <button type="submit" onclick="location.href='{% url 'unmerge_with_filling' %}'" name='unmerge_with_filling'>
    Заполнить 
  </button>
  Заполнить пустые ячейки в таблице
</div>
</br>
<div>
  <button type="submit" onclick="location.href='{% url 'move_device' %}'" name='unmerge_with_filling'>
    Выбрать 
  </button>
  Произвести слияние Актов
</div>

{% if form %}
</br>
<form method="post" enctype="form-data">
{% csrf_token %}
  Старый Акт {{ form.old_type }}
  Новый Акт {{ form.new_type }}
<button type="submit" href="{% url 'move_device' %}" class="move_device">
  Заменить
</button>
</form>
</br>
{% endif %}
<div>
  <button type="submit" onclick="location.href='{% url 'move_distributors' %}'" name='unmerge_with_filling'>
    Выбрать 
  </button>
  Произвести слияние Дистрибьюторов
</div>
{% if form_move_distr %}
</br>
<form method="post" enctype="form-data">
{% csrf_token %}
  Удаляемый {{ form_move_distr.old_seller }}
  Преемник {{ form_move_distr.new_seller }}
<button type="submit" href="{% url 'move_distributors' %}" class="move_distributors">
  Заменить
</button>
</form>
</br>
{% endif %}


<h4>События</h4>
<p>{{ message }}</p>
{% if logs %}
  <details>
  {% for message in logs%}
    {{message}} </br>
  {% endfor %}
{% endif %}
</details>



{% endblock %} 