{% extends "includes/base.html" %}
{% block title %} Удаление устройств {% endblock %}
{% block header %} Удаление устройств {% endblock %}
{% block content %}
{% load form_filters %}

<div class="container p-2">
  <div class="row justify-content-md-center">
    <div class="col col-lg-4">
    <form class="form-inline" action="{% url 'deleting_list_devices' %}" method="get">
    <div class="row">
      <div class="col">
        <input class="form-control" name="q" type="text" placeholder="Поиск совпадений...">
      </div>
      <div class="col-lg-4">
        <button type="submit" class="btn btn-primary mb-2">Фильтровать</button>
      </div>
    </div>
  </form>
    </div>
    <div class="col col-lg-2">
    </div>
    <div class="col col-lg-2">
      <button type="submit" class="btn btn-danger mb-2" onclick="location.href='{% url 'devices' %}'">
        Выйти из удаления
      </button>
    </div>
  </div>

  <div class="row justify-content-md-center">
    <div class="col-8">
      <table class=" table table-sm text-center table-bordered table-hover">
        <thead class="table-dark align-middle">
          <th class="p-2"> Название </th>
          <th class="p-2"> Выдано СКИ </th>
          <th class="p-2"> Действтие </th>
        </thead>
        <tbody>
        {% for device in page %}
          <tr>
            <td nowrap="nowrap">
            <a href="{% url 'single_device' device.id %}" > {{ device.type }}  </a>
            </td>
            <td> {{device.device_count}}</td>
            <td>
              <a href="{% url 'delete_device' device.id %}" class="link-danger">
              Удалить
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>




{% endblock %} 