{% extends "includes/base.html" %}
{% block title %}Устройства{% endblock %}

{% block content %} 
<style>
table, th, td {
    border: 1px solid black;

}
th {
    padding: 15px;
    white-space: nowrap;
     text-align: center;
     background-color: #dfeded;
}
td {
    padding: 3px;
    text-align: center;
}
</style>

  <table border="1" > 
    <tr>
      <th> Тип устройства </th>
      <th> Количество СКИ </th>
    </tr>
    {% for device in page %}
      <tr>
        <td>
          <a href={% url 'single_device' device.id %}> {{ device.type }} </a>
        </td>
        <td>{{ device.device_count }}</td>
      </tr>
    {% endfor %}
    </table>
{% endblock %} 