{% extends "includes/base.html" %}
{% block title %}Дистрибьюторы {% endblock %}
{% block header %} Дистрибьюторы {% endblock %}
{% block content %}
{% load form_filters %}
</br>
<div class="container" >
  <div class="row justify-content-around">
    <div class="col-4">
      <table class=" table table-sm text-center table-bordered table-hover">
        <thead "thead-dark">
          <th> Название </th>
          <th> Адрес </th>
          <th> Выдано актов </th>
        </thead>
        <tbody>
        {% for org in page %}
          <tr>
            <td nowrap="nowrap">
            <a href={% url 'single_seller' org.id %} > {{ org.name }}  </a>
            </td>
            <td>{{ org.address }}</td>
            <td> {{org.lic_count}}</td>
            <td> <a href={% url 'delete_seller' org.id %}>Delete</a> </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="col-4">
      <form method="post">
      {% csrf_token %}
      <div class="form-group text-left">
      <h5> Добавить новую организацию </h5>
      <label for="exampleInputEmail1">Название новой организации</label>
        {{ form.name |addclass:"form-control" }}
        <label for="exampleInputEmail1">Местоположение организации</label>
        {{ form.address |addclass:"form-control"  }}
        </div>
        <button class="btn btn-primary" type="submit">Добавить</button>
      </form>
  

  </div>
</div>
      </div>
          
      
    </table>
  </div>
{% endblock %} 