{% extends "includes/base.html" %}
{% block title %}События {% endblock %}

{% block content %} 
<style>
table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
}
th {
    padding: 15px;
    white-space: nowrap;
     text-align: center;
     background-color: #dfeded;
}
td {
    padding: 3px;
    text-align: center;
}
</style>
    <table border="1" style="width:100%"> 
        <tr>
            <th> Рег № </th>
            <th> Дата Рег № </th>
            <th> Инн </th>
            <th> Рег № СКИ </th>
            <th> Организация </th>
            <th> VPN </th>
            <th> Акт </th>
            <th> Примечание </th>
        </tr>
        {% for post in page %}
            <tr>
                <td> {{ post.keys_number}} </td>
                <td> {{ post.keys_date | date:"d.m.Y"}} </td>
                <td> {{ post.organisation}} </td>
                <td> {{ post.reg_number}} </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %} 