{% extends "includes/base.html" %}
{% block title %}Главная страница {% endblock %}

{% block content %} 
<style>
table, th, td {
    border: 1px solid black;
}
th {
    padding: 15px;
    white-space: nowrap;
     text-align: center;
     background-color: #dfeded;
}
td {
    padding: 3px;
    text-align: center;
}
</style>
<div style="align: center;">

  <form action="{% url 'index' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
  </form>
  </br>
  <table border="1" style="width:100%;"> 
    <tr>
      <th> Рег № </th>
      <th> Дата Рег № </th>
      <th> Инн </th>
      <th> Организация </th>
      <th> Рег № СКИ </th>
      <th> Дата СКИ </th>
      <th> VPN </th>
      <th> Акт </th>
      <th> Кол-во лицензий </th>
      <th> Примечание </th>
    </tr>
    {% for vpn in page %}
      <tr>
        <td> {{ vpn.organisation.reg_number }} </td>
        <td> {{ vpn.organisation.reg_date| date:"d.m.Y" }} </td>
        <td> {{ vpn.organisation.inn }} </td>
        <td> {{ vpn.organisation.short_name }} </td>
        <td> {{ vpn.reg_number }} </td>
        <td> {{ vpn.reg_date | date:"d.m.Y" }} </td>
        <td> {{ vpn.vpn_number }} </td>
        <td> {{ vpn.license.act }} </td>
        <td> {{ vpn.license.amount }} </td>
        <td> {{ vpn.comment }} </td>
      </tr>
    {% endfor %}
    </table>
  </div>
{% endblock %} 