{% extends "includes/base.html" %}
{% block title %}Главная страница {% endblock %}

{% block content %} 
<style>
table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
}
th {
    padding: 15px;
    white-space: nowrap;
     text-align: center;
     background-color: #dfeded;
}
td {
    padding: 3px;
    text-align: center;
}
</style>
    <table border="1" style="width:100%"> 
        <tr>
            <th> Рег № </th>
            <th> Дата Рег № </th>
            <th> Инн </th>
            <th> Рег № СКИ </th>
            <th> Организация </th>
            <th> VPN </th>
            <th> Акт </th>
            <th> Примечание </th>
        </tr>
        {% for post in page %}
         {% for event in post.reg_numbers.all %}
            <tr>
                <td> {{ post.reg_orgs.last.reg_number}} </td>
                <td> {{ post.reg_orgs.last.reg_date | date:"d.m.Y"}} </td>
                <td> {{ post.org_inn }} </td>
                <td> {{ post.org_name }} </td>
                <td> {{ event.keys_number }} </td>
                <td> {{ event.vpn_number }} </td>
                <td> {{ event.license.n_license }} </td>
                <td> {{ event.comment }} </td>
            </tr>
        {% endfor %}
        {% endfor %}
    </table>
{% endblock %} 