{% extends "includes/base.html" %}
{% block title %}Главная страница {% endblock %}

{% block content %} 
<style>

table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
}
th {
    padding: 15px;
    white-space: nowrap;
     text-align: center;
     background-color: #dfeded;
}
td {
    padding: 3px;
    text-align: center;
}

</style>
  <table border="1" style="width:100%"> 
    <tr>
      <th> Рег № </th>
      <th> Дата Рег № </th>
      <th> Инн </th>
      <th> Организация </th>
      <th> Рег № СКИ </th>
      <th> VPN </th>
      <th> Акт </th>
      <th> Кол-во лицензий </th>
      <th> Примечание </th>
    </tr>
    {% for event in page %}
      <tr>
        <td>
        {% for reg in event.organisation.reg_orgs.all %} 
          {{ reg.reg_number }} <br>
        {% endfor %}
        </td>
        <td  style="background-color:#DDE7FA">
        {% for reg in event.organisation.reg_orgs.all %} 
          {{ reg.reg_date| date:"d.m.Y" }} <br>
        {% endfor %}
        </td>
        <td> {{ event.organisation.org_inn }} </td>
        <td style="background-color:#DDE7FA"> {{ event.organisation.org_name }} </td>
        <td> {{ event.keys_number }} </td>
        <td style="background-color:#DDE7FA"> {{ event.vpn_number }} </td>
        <td> {{ event.license.n_license }} </td>
        <td style="background-color:#DDE7FA"> {{ event.license.ammount }} </td>
        <td> {{ event.comment }} </td>
      </tr>
    {% endfor %}
    </table>
{% endblock %} 