{% extends "includes/base.html" %}
{% block title %} Организации {% endblock %}
{% block header %} Организации {% endblock %}
{% block content %} 
<style>
</style>
<div class="container-fluid">
  <form class="form-inline" action="{% url 'orgs' %}" method="get">
    <div class="form-group mx-sm-3 mb-2">
      <input class="form-control" name="q" type="text" placeholder="Search...">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Фильтровать</button>
  </form>
  </br>
  <table class="table table-sm text-center table-bordered table-hover">
  <thead "thead-dark">
  
    <th nowrap="nowrap" scope="row"> Рег № </th>
    <th nowrap="nowrap" scope="row"> Дата Рег № </th>
    <th scope="row"> Инн </th>
    <th class="col-xs-5" scope="row"> Организация </th>
    <th scope="row"> Адрес </th>
    <th scope="row"> Телефон </th>
    <th scope="row"> Сотрудник </th>
    <th scope="row"> Количество СКИ </th>
  </thead>
  <tbody>
    {% for org in page %}
      <tr>
        <td>{{ org.reg_number }}</td>
        <td>{{ org.reg_date| date:"d.m.Y" }}</td>
        <td>
          <a href={% url 'single_org' org.inn %}> {{ org.inn }} </a>
        </td>
        <td > {{ org.short_name }} </td>
        <td nowrap="nowrap"> {{ org.address }} </td>
        <td nowrap="nowrap"> {{ org.phone }} </td>
        <td> {{ org.employee }} </td>
        <td> {{ org.vpn_count }} </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  </div>
{% endblock %} 