{% extends "includes/base.html" %}
{% block title %} Организации {% endblock %}
{% block header %} Организации {% endblock %}
{% block content %} 
<div class="container">
  {% include "includes/search.html" with view='orgs' %}
</div>
<div class="container-fluid">
  {% if page_obj.has_other_pages %}
  {% include "includes/paginator.html" with page=page_obj paginator=paginator%}
  {% endif %}
  <table class="table table-sm text-center table-bordered table-hover">
    <thead class="table-dark align-middle">
    <th class="p-2" nowrap="nowrap" scope="row"> Рег № </th>
    <th class="p-2" nowrap="nowrap" scope="row"> Дата Рег № </th>
    <th class="p-2" scope="row"> Инн </th>
    <th class="p-2" scope="row"> СКИ </th>
    <th class="p-2" > Организация </th>
    <th class="p-2" > Адрес </th>
    <th class="p-2" scope="row"> Телефон </th>
    <th class="p-2" > Сотрудник </th>
  </thead>
    <tbody>
    {% for org in page_obj %}
      <tr>
        <td>{{ org.reg_number }}</td>
        <td>{{ org.reg_date| date:"d.m.Y" }}</td>
        <td>
          <a href="{% url 'single_org' org.pk %}"> {{ org.inn }} </a>
        </td>
        <td nowrap="nowrap"> {{ org.vpn_count }} шт.</td>
        <td class="col-xl-3"> {{ org.short_name }} </td>
        <td class="col-xl-3"> {{ org.address }} </td>
        <td > {{ org.phone }} </td>
        <td class="col-xl-2"> {{ org.employee }} </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>
    {% if page_obj.has_other_pages %}
    {% include "includes/paginator.html" with page=page_obj paginator=paginator%}
    {% endif %}
{% endblock %}
