{% extends "includes/base.html" %}
{% block title %}Акт {% endblock %}
<h1>{% block header %}Данные об акте{% endblock %}</h1>
{% block content %} 

<style>
table, th, td {
    border: 1px solid black;
	border-collapse: collapse;
}
th {
    padding: 15px;
    white-space: nowrap;
     text-align: center;
     background-color: #dfeded;
}
td {
    padding: 3px;
    text-align: center;
}
.org_text {
  margin: 5px;
}
.org_block {
  margin-bottom: 2em;
}
</style>
</br>
  <h5>Акт: {{ lic.act }}</h5>
  <div class="lic_block">
    <p class="lic_text"><b>Дата акта:</b> {{ lic.date }}</p>
    <p class="lic_text"><b>Дистрибьютор:</b> {{ lic.distributor.name }}</p>
    <p class="lic_text"><b>Количество:</b> {{ lic.amount }}</p>
    <p class="lic_text"><b>Комментарий :</b> {{ lic.comment }}</p>
    </br>
  </div>

  <h5>Дистрибутивы ключей, выданные по акту</h5>
  <table border="1" style="width:100%"> 
    <tr>
      <th> Сеть </th>
      <th> VPN </th>
      <th> Рег № </th>
      <th> Дата СКИ </th>
      <th> Активный </th>
      <th> Организация </th>
      <th> Инн </th>
      <th> Носитель </th>
      <th> ID носителя </th>
      <th> Комментарий </th>
      
    </tr>
    {% for key in vpn %}
    <tr>
      <td> {{ key.network }} </td>
      <td> {{ key.vpn_number }} </td>
      <td> {{ key.reg_number }} </td>
      <td> {{ key.reg_date | date:"d.m.Y" }} </td>
      <td> {{ key.active | yesno:"Да,-"}} </td>
      <td> {{ key.organisation.short_name }} </td>
      <td> {{ key.organisation.inn }} </td>
      <td> {{ key.device_type.type }} </td>
      <td> {{ key.device_id}} </td>
      <td> {{ key.comment }} </td>
      
    </tr>
    {% endfor %}
    </table>
{% endblock %} 