{% extends "includes/base.html" %}
{% block title %}Акт {% endblock %}
<h1>{% block header %}Данные об акте{% endblock %}</h1>
{% block content %} 
<div class="container" >
  <div class="container col-12  text-start">
    <div class="row flex-lg-row-reverse align-items-center py-3">
      <div class="col-6 text-start px-5">
        {% if lic.amount == lic.lics.count %}
          <p class="lead mb-1"> Все лицензии используются </p>
        {% elif lic.amount < lic.lics.count %}
        <p class="lead text-danger mb-1"> <b class="fw-bold">Внимание!</b> Превышение допустимого количества лицензий </p>
        <p class="lead mb-1"> Использовано <b class="fw-bold text-danger">{{lic.lics.count}}
        </b> из {{lic.amount}} шт.</p>
        {% else %}
          <p class="lead text-success mb-1"> Есть свободные лицензии! </p>
          <p class="lead mb-1"> Использовано <b class="fw-bold text-success">{{lic.lics.count}}
          </b> из {{lic.amount}} шт.</p>
        {% endif %}
        {% if lic.comment %} <p class="lea mb-1"> {{ lic.comment }}</p> {% endif %}
      </div>
      <div class="col-6 text-end px-5 border-end">
      <h1 class="display-5 fw-bold">{{ lic.act }}</h1>
        <p class="lead mb-2">от <b>{{ lic.date }}</b></p>
        <p class="lead mb-2">дистрибьютор
          <b> <a class="link-warning" href="{% url 'single_org' lic.distributor.pk %}">
              {{ lic.distributor.name }}</a></b>
        </p>
        <p class="lead mb-2">Лицензий по акту - <b>{{ lic.amount }} шт.</b></p>

      </div>
    </div>
  </div>
<hr>


  <table class=" table table-sm text-center table-bordered table-hover">
    <thead class="table-dark align-middle">
      <th class="p-2"> № п/п</th>
      <th class="p-2"> Сеть </th>
      <th class="p-2"> VPN </th>
      <th class="p-2"> Рег № </th>
      <th class="p-2"> Дата СКИ </th>
      <th class="p-2"> Активный </th>
      <th class="p-2"> Организация </th>
      <th class="p-2"> Инн </th>
      <th class="p-2"> Носитель </th>
      <th class="p-2"> ID носителя </th>
      <th class="p-2"> Комментарий </th>
    </thead>
    <tbody class="align-middle">
    {% for key in vpn %}
    <tr>
      <td> {{ forloop.counter }}. </td>
      <td> {{ key.network }} </td>
      <td nowrap="nowrap"> VPN-{{ key.vpn_number }} </td>
      <td nowrap="nowrap"> № {{ key.reg_number }} </td>
      <td> {{ key.reg_date | date:"d.m.Y" }} </td>
      <td> {{ key.active | yesno:"Да,-"}} </td>
      <td> {{ key.organisation.short_name }} </td>
      <td> <a href="{% url 'single_org' key.organisation.pk %}">
        {{ key.organisation.inn }} </a>
      </td>
      <td> {{ key.device_type.type }} </td>
      <td style="max-width: 250px;"> {{ key.device_id}} </td>
      <td> {% if key.comment %} {{ key.comment }} {% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %} 