{% extends "includes/base.html" %}
{% block title %}Устройство {{ device.type }} {% endblock %}
<h1>{% block header %} {{ device.type }} {% endblock %}</h1>
{% block content %} 
<div class="container">
  <h5>СКИ, выданная на {{ device.type }}. Итого: {{ vpn.count }}</h5>
    <table class="table table-sm text-center table-bordered table-hover"> 
      <thead class="thead-light">
        <th> Сеть </th>
        <th> Инн </th>
        <th> Организация </th>
        <th nowrap="nowrap"> Рег № СКИ </th>
        <th> Дата СКИ </th>
        <th> VPN </th>
        <th> Акт </th>
        <th> Кол-во лицензий </th>
        <th> Примечание </th>  
      </thead>
      <tbody class="table-wrapper">
      {% for key in vpn %}
      <tr>
        <td> {{ key.network }} </td>
        <td>
          <a href="{% url 'single_org' key.organisation.inn %}"> {{ key.organisation.inn }} </a>
        </td>
        <td> {{ key.organisation.short_name }} </td>
        <td> {{ key.reg_number }} </td>
        <td> {{ key.reg_date | date:"d.m.Y" }} </td>
        <td nowrap="nowrap"> VPN-{{ key.vpn_number }} </td>
        <td > 
          {% if key.license %}
          <a href="{% url 'single_act' key.license.id %}"> {{ key.license.act }}</a>
          {% endif %}
        </td>
        <td> {% if key.license.amount %} {{ key.license.amount }} шт. {% endif %}</td>
        <td> {{ key.comment }} </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %} 